/**
* @name Novum
* @author Tomec & Saurian
* @description Big, enhanced galaxy theme with couple of small features and addons.
* @version 5.1
* @source https://gitlab.com/tomec/novum
*/

/*
CONTACT ME ON DISCORD IF YOU NEED ANY HELP WITH THEME (OR IF YOU SEE SOME GRAY/NOT-THEMED ELEMENTS): tomec#4771

IMPORTANT: CHOOSE DARK VERSION IN DISCORD APPEARANCE SETTINGS!
IMPORTANT: SOME OF FEATURES ARE TESTED ONLY ON WINDOWS VERSION OF DISCORD!
*/

/*
===================================================================
*/

@import url(https://tomec.gitlab.io/novum/theme.css);

/*
===================================================================
*/

/*
CUSTOMIZABLE BACKGROUND IMAGE AND MAIN COLORS BELOW*

*IF YOU WANT TO CUSTOMIZE THOSE COLORS, CHANGE root TO :root 
*/

root {
  --background-img: url("https://i.imgur.com/NOpaUeX.png");
  --profile-bckg: url("https://i.imgur.com/F7m74F5.png");
  --default-hover: #d4393926;
  --default-selected: #d336364d;
  --bt-red: #b42a2acc;
  --bt-red-hover: #c93838cc;
  --bt-blue-bg: #774747;
  --bt-blue-bg-hover: #803838;
  --bt-text: #dddddd;
  --bt-text-hover: #ffffff;
  --scroll-thumb: #df6161b6;
  --scroll-bg: #00000016;
  --scroll-bg-bord: #00000000;
  --markup-normal: #fd9fa0;
  --markup-normal-transparent: #fca7a918;
  --markup-intensive: #fd7a7c;
  --markup-blue: #8f6060e6;
  --markup-blue-light: #c28383e6;
}

/*
--background- : default background image of app
--default- : background of some fields currently selected or hovered by mouse
--bt- : buttons colors (most of buttons edited in theme are blue, red: 'cancel' buttons etc.)
--scroll- : color and background of scrollbars in app
--markup- : color of some details throughout the app (links, protips etc.)
*/

/*
===================================================================
*/

/*
Credits:
- Current background is taken (with the consent of author) and edited from 'Nova' theme made by https://github.com/din0s/
- Idea of icons in Settings layer is taken from ClearVision theme by https://github.com/Zerthox
- Most of that icons come from Material-UI icons base: https://mui.com/components/material-icons/

Author of theme: https://gitlab.com/tomec

Special thanks for help to: https://gitlab.com/net-runner
*/
