:root {
  --background-primary: transparent !important;
  --background-accent: var(--bt-red);
  --background-secondary: transparent !important;
  --background-secondary: transparent !important;
  --background-secondary-alt: transparent !important;
  --background-tertiary: rgba(0, 0, 0, 0.1) !important;
  --scrollbar-auto-thumb: var(--scroll-thumb);
  --scrollbar-thin-thumb: var(--scroll-thumb);
  --scrollbar-auto-track: transparent !important;
  --scrollbar-thin-track: transparent !important;
  --text-link: var(--markup-normal);
  --background-img: url("https://i.imgur.com/NOpaUeX.png");
  --profile-bckg: url("https://i.imgur.com/F7m74F5.png");
  --profile-activity: #6d1515;
  --default-hover: #d4393926;
  --default-selected: #d336364d;
  --bt-red: #b42a2acc;
  --bt-red-hover: #c93838cc;
  --bt-blue-bg: #774747;
  --bt-blue-bg-hover: #803838;
  --bt-text: #dddddd;
  --bt-text-hover: #ffffff;
  --scroll-thumb: #df6161b6;
  --scroll-bg: #00000016;
  --scroll-bg-bord: #00000000;
  --markup-normal: #fd9fa0;
  --markup-normal-transparent: #fca7a918;
  --markup-intensive: #fd7a7c;
  --markup-blue: #8f6060e6;
  --markup-blue-light: #c28383e6;
  --channels-default: rgba(255, 255, 255, 0.7);
}

body::after {
  background-image: var(--background-img) !important;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: left top;
  z-index: -90;
}

[class^=appMount-],
[class^=app-],
[class^=bg-] {
  background: transparent !important;
}

#app-mount > [class^=typeWindows] {
  height: 18px;
  margin-top: 0px;
  background-color: rgba(0, 0, 0, 0.1);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 4px;
}

[class^=chat-] > [class^=content-] > div {
  background: transparent !important;
}

[class^=wrapper-] {
  border: none;
}

[class^=sidebar-] > nav > div:first-child,
[class^=sidebar-] + div section {
  background: rgba(0, 0, 0, 0.1) !important;
}

[class^=scroller-] {
  background: transparent !important;
}

[class^=channelTextArea] {
  border-radius: 8px;
}
[class^=channelTextArea] [class*=scrollableContainer] {
  background: rgba(0, 0, 0, 0.1);
}
[class^=channelTextArea] [class*=scrollableContainer] [class^=attachWrapper] {
  border-right-color: rgba(255, 255, 255, 0.1);
}
[class^=channelTextArea] [class^=autocomplete] {
  background: transparent !important;
}
[class^=channelTextArea] [class^=autocompleteInner] {
  background: rgba(0, 0, 0, 0.9) !important;
  border-color: transparent !important;
}
[class^=channelTextArea] [class*=autocompleteRow] > [class*=selected] {
  background: var(--default-selected) !important;
}
[class^=channelTextArea] > [class^=container-] > [class^=containerBackground] {
  background: rgba(0, 0, 0, 0.95) !important;
  border-color: transparent;
}
[class^=channelTextArea] [class*=inner] [class^=buttons] > button:first-child {
  display: none !important;
}

[class^=drawerSizingWrapper-] > [class^=contentWrapper-] {
  background: rgba(0, 0, 0, 0.9) !important;
}
[class^=drawerSizingWrapper-] > [class^=contentWrapper-] [class^=navList-] > [class^=navItem-] > [class^=navButtonActive-] {
  background: var(--bt-red) !important;
}
[class^=drawerSizingWrapper-] > [class^=contentWrapper-] [class^=unicodeShortcut-],
[class^=drawerSizingWrapper-] > [class^=contentWrapper-] [class^=inspector-] {
  background: #000;
}

[class*=followButton] {
  background: var(--bt-red) !important;
  color: var(--bt-text) !important;
}
[class*=followButton]:hover {
  background: var(--bt-red-hover) !important;
  color: var(--bt-text-hover) !important;
}

[class*=chatContent] form > div > [class^=wrapper] {
  background: rgba(0, 0, 0, 0.3);
}

[class*=chatContent] button:not([class*=lookBlank], [class*=barButtonBase]) {
  background: var(--bt-red) !important;
  color: var(--bt-text) !important;
}
[class*=chatContent] button:not([class*=lookBlank], [class*=barButtonBase]):hover {
  background: var(--bt-red-hover) !important;
  color: var(--bt-text-hover) !important;
}

[class*=reactions-] [class*=reaction]:not([class^=reactionCount], [class^=reactionBtn]) {
  background: rgba(0, 0, 0, 0.2) !important;
  min-width: 40px !important;
  min-height: 40px !important;
  display: flex;
  align-content: center;
}
[class*=reactions-] [class*=reaction]:not([class^=reactionCount], [class^=reactionBtn]):hover {
  border-color: transparent;
}
[class*=reactions-] [class*=reaction]:not([class^=reactionCount], [class^=reactionBtn]) img {
  width: 30px !important;
  height: 30px !important;
}
[class*=reactions-] [class*=reaction]:not([class^=reactionCount], [class^=reactionBtn])[class*=reactionMe] {
  border-color: var(--bt-red);
  background: rgba(0, 0, 0, 0.4) !important;
}

[class*=reactionCount-] {
  color: var(--markup-normal) !important;
}

[class^=layerContainer-] [class^=layer-] [class^=focusLock-] [class*=container-] {
  background: rgba(0, 0, 0, 0.95) !important;
}
[class^=layerContainer-] [class^=layer-] [class^=focusLock-] [class*=container-] div:not([class*=contents]) {
  background: rgba(0, 0, 0, 0.95) !important;
}
[class^=layerContainer-] [class^=layer-] [class*=menu-] {
  background: rgba(0, 0, 0, 0.95) !important;
  box-shadow: 0px 0px !important;
}
[class^=layerContainer-] [class^=layer-] [class*=menu-] [class*=wrapper-] img {
  width: 30px !important;
  height: 30px !important;
}

[class*=messagesPopoutWrap] {
  background: rgba(0, 0, 0, 0.95) !important;
}

[class^=uploadDropModal] [class^=bgScale] {
  background: var(--profile-activity) !important;
}
[class^=uploadDropModal] [class*=icons] {
  filter: hue-rotate(110deg) contrast(1.3) !important;
}

[class^=uploadModal] {
  background: rgba(0, 0, 0, 0.95) !important;
  box-shadow: 0px 0px !important;
}
[class^=uploadModal] [class^=footer] {
  background: rgba(0, 0, 0, 0.95) !important;
}
[class^=uploadModal] label[class*=checked] [class*=checkbox] {
  background: var(--bt-red) !important;
  border-color: transparent !important;
}
[class^=uploadModal] label[class*=checked] [class*=checkbox] svg path {
  fill: #fff !important;
}

[id^=message-content-Uploader] > div[class*=attachment] {
  background: rgba(0, 0, 0, 0.3);
  border-color: #000000;
}
[id^=message-content-Uploader] > div[class*=attachment] [class*=progressBar] {
  background: var(--markup-normal) !important;
}

[class*=embedLink] {
  color: var(--markup-normal) !important;
}

[class*=message] [class^=embedWrapper] {
  background: var(--markup-normal-transparent) !important;
  border-color: var(--markup-intensive) !important;
}

[class^=messageAttachment] {
  background: var(--markup-normal-transparent) !important;
  border-color: var(--markup-intensive) !important;
}

[class*=markup] [class*=mention] {
  color: var(--markup-blue-light);
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}
[class*=markup] [class*=mention]:hover {
  background: rgba(0, 0, 0, 0.4);
}

[class*=mentioned] [class*=mention] {
  color: var(--markup-intensive);
}
[class*=mentioned]::before {
  left: 3px;
  border-radius: 5px 0 0 5px;
  background: var(--markup-intensive);
  border-left: 2px solid var(--markup-intensive);
}

[class*=message] [class*=buttonContainer] [class*=container] [class*=wrapper] {
  background: rgba(0, 0, 0, 0.7);
}

[class*=recentMentionsPopout] {
  background: rgba(0, 0, 0, 0.95) !important;
}

[class*=layer] [class*=wrapper] [class*=emojiPicker] {
  background: rgba(0, 0, 0, 0.95) !important;
}
[class*=layer] [class*=wrapper] [class*=emojiPicker] [class*=emojiItem] {
  transition: transform 0.2s ease-in-out;
}
[class*=layer] [class*=wrapper] [class*=emojiPicker] [class*=emojiItemSelected] {
  background: rgba(255, 255, 255, 0.3);
  transform: scale(1.1);
}

[class^=threadSidebar] {
  background: rgba(0, 0, 0, 0.95);
}

[class*=layer] [class*=browser] {
  background: rgba(0, 0, 0, 0.95) !important;
}

[class*=hasThread] [class*=cta] {
  color: var(--markup-normal) !important;
}

[class*=messagesWrapper] [class*=content] [class*=divider] {
  border-color: transparent;
  margin-top: 35px;
  margin-bottom: 35px;
}
[class*=messagesWrapper] [class*=content] [class*=divider] [class*=content] {
  color: var(--markup-intensive) !important;
  width: 95%;
  transform: translateY(6px);
}
[class*=messagesWrapper] [class*=content] [class*=divider]:not([class*=isUnread]) > span {
  color: rgba(255, 255, 255, 0.7) !important;
  background: rgba(204, 204, 204, 0.1) !important;
  font-size: 14px;
  border-radius: 5px;
  padding: 7px 15px;
  text-align: center;
  width: 90%;
}
[class*=messagesWrapper] [class*=content] [class*=divider] [class*=isUnread] {
  background: transparent !important;
  color: var(--markup-intensive) !important;
  width: 95%;
  transform: translateY(6px);
}

[class*=unreadPill] {
  background: var(--default-hover) !important;
  color: var(--markup-intensive) !important;
  padding: 12px 0px;
  width: 100%;
  font-size: 14px;
}

[class*=unreadPillCap] {
  visibility: hidden;
}

[id^=status-picker] {
  transition: background 200ms ease-out;
}

#status-picker-online {
  color: #43b581;
}
#status-picker-online[class*=focused] {
  background: #43b58244;
}
#status-picker-idle {
  color: #faa61a;
}
#status-picker-idle[class*=focused] {
  background: #faa81a42;
}
#status-picker-dnd {
  color: #f04747;
}
#status-picker-dnd[class*=focused] {
  background: #b83a3c3d;
}
#status-picker-invisible {
  color: #747f8d;
}
#status-picker-invisible[class*=focused] {
  background: #747f8d3d;
}
#status-picker-custom-status[class*=focused] {
  background: #ff4db53d;
}

[class*=newMessagesBar] {
  background: var(--markup-intensive) !important;
  border-color: transparent !important;
}

[id^=message-accessories-] > [class*=wrapper] {
  background: rgba(0, 0, 0, 0.2);
}

[class*=title] [class*=search] {
  order: 1;
  margin-left: 4px;
}
[class*=title] [class*=search] [class*=search]:not([class*=open]) [class*=searchBar] {
  width: 27px;
  transition: 250ms;
  background: transparent;
  border-bottom: 2px solid transparent;
}
[class*=title] [class*=search] [class*=search]:not([class*=open]) [class*=searchBar] [class*=iconContainer] {
  transform: scale(1.3);
  transition: 250ms;
}
[class*=title] [class*=search] [class*=search]:not([class*=open]) [class*=searchBar] [class*=iconContainer] [class*=icon] {
  color: var(--interactive-normal);
}
[class*=title] [class*=search] [class*=search]:not([class*=open]):hover [class*=searchBar] {
  width: 240px;
  background: rgba(0, 0, 0, 0.15);
}
[class*=title] [class*=search] [class*=search]:not([class*=open]):hover [class*=searchBar] [class*=iconContainer] {
  transform: scale(1);
}
[class*=title] [class*=search] [class*=search]:not([class*=open]):hover [class*=searchBar] [class*=iconContainer] [class*=icon] {
  color: var(--text-muted);
}

[class*=DraftEditor] [class*=searchFilter],
[class*=DraftEditor] [class*=searchAnswer] {
  background: var(--bt-red);
}

[class*=layerContainer] [class*=container] {
  background: rgba(0, 0, 0, 0.95);
  box-shadow: none !important;
}
[class*=layerContainer] [class*=container] [class*=resultsGroup] {
  text-align: center;
}
[class*=layerContainer] [class*=container] [class*=resultsGroup] [class*=selected],
[class*=layerContainer] [class*=container] [class*=resultsGroup] [class*=option]:hover {
  background: var(--default-selected);
}
[class*=layerContainer] [class*=container] [class*=resultsGroup]::before,
[class*=layerContainer] [class*=container] [class*=resultsGroup] [class*=option]::after {
  visibility: hidden !important;
}
[class*=layerContainer] [class*=container] [class*=queryContainer] {
  background: black;
}
[class*=layerContainer] [class*=container] [class*=queryContainer] span {
  background: var(--bt-red);
}
[class*=layerContainer] [class*=container] [class*=searchLearnMore] {
  display: none;
}

[class*=datePicker] {
  background: rgba(0, 0, 0, 0.9) !important;
}
[class*=datePicker] [class*=hintValue] {
  margin-left: 5px;
  background: var(--bt-red) !important;
  color: var(--bt-text) !important;
}
[class*=datePicker] [class*=hintValue]:hover {
  background: var(--bt-red-hover) !important;
  color: var(--bt-text-hover) !important;
}

[class*=react-datepicker] {
  background: transparent !important;
}
[class*=react-datepicker] [class*=month] > [class*=week] [class*=day]:not([class*=day--disabled]) {
  background: var(--default-hover) !important;
}
[class*=react-datepicker] [class*=month] > [class*=week] [class*=day]:not([class*=day--disabled]):hover {
  background: var(--default-selected) !important;
}
[class*=react-datepicker] [class*=month] > [class*=week] [class*=selected] {
  background: var(--default-selected) !important;
}
[class*=react-datepicker] [class*=month] > [class*=week] [class*=selected]::after {
  background: var(--default-selected) !important;
}
[class*=react-datepicker] [class*=month] > [class*=week] [class*=outside-month]:not([class*=day--disabled]) {
  background: var(--default-hover) !important;
  opacity: 0.3 !important;
}

[class*=searchResultsWrap] [class*=channelSeparator] [class*=channelName] {
  background: transparent;
  text-align: right !important;
  border-radius: 8px;
  padding: 5px !important;
}
[class*=searchResultsWrap] [class*=channelSeparator] [class*=channelName]:hover {
  background: var(--default-selected);
  text-decoration: none;
}
[class*=searchResultsWrap] [class*=searchHeader] {
  background: rgba(0, 0, 0, 0.3) !important;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
[class*=searchResultsWrap] [class*=searchResult][class*=expanded] {
  border-color: transparent !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.04) !important;
  background: rgba(0, 0, 0, 0.1) !important;
  opacity: 1;
}
[class*=searchResultsWrap] [class*=searchResult] [class*=searchResultMessage][class*=after], [class*=searchResultsWrap] [class*=searchResult] [class*=searchResultMessage][class*=before] {
  opacity: 0.15 !important;
}

[class*=actionButtons] [class*=jumpButton] {
  background: rgba(0, 0, 0, 0.3) !important;
  border-radius: 3px !important;
  color: var(--bt-text) !important;
}
[class*=actionButtons] [class*=jumpButton]:hover {
  background: rgba(0, 0, 0, 0.6) !important;
  color: var(--bt-text-hover) !important;
}

[class*=pageControlContainer] {
  background: rgba(0, 0, 0, 0.3) !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
[class*=pageControlContainer] [class*=activeButton] {
  background: var(--bt-red) !important;
}
[class*=pageControlContainer] [class*=roundButton]:not([class*=activeButton]):hover {
  background: var(--default-hover) !important;
}

[class*=backgroundFlash] {
  background: transparent !important;
}
[class*=backgroundFlash] li {
  background: rgba(0, 0, 0, 0.2) !important;
  border-radius: 5px 0 0 5px;
}

[class*=replyBar] {
  background: rgba(0, 0, 0, 0.1);
  margin-top: 8px;
}
[class*=replyBar] [class*=colorLink] {
  color: var(--bt-text);
}

[class*=channelAttachmentArea] > li {
  background: rgba(0, 0, 0, 0.1) !important;
}
[class*=channelAttachmentArea] > li [class*=actionBar] [class*=wrapper] {
  background: rgba(0, 0, 0, 0.7) !important;
}

code {
  background: rgba(0, 0, 0, 0.2) !important;
}

[class*=replying] {
  background-color: rgba(0, 0, 0, 0.1) !important;
}
[class*=replying]::before {
  left: 3px;
  border-radius: 5px 0 0 5px;
  background: var(--markup-intensive);
  border-left: 2px solid var(--markup-intensive);
}

[class^=categoryFadeBlurple-] {
  background: var(--bt-red) !important;
}

[class*=chat] form {
  margin: 0px;
}

[src*="avatars/214676791955161091"][class*=clickable],
[style*="avatars/214676791955161091"][class*=avatar] {
  -webkit-animation: rotate1 40s linear infinite;
  animation: rotate1 40s linear infinite;
}

[src*="avatars/221743310744715265"][class*=clickable],
[style*="avatars/221743310744715265"][class*=avatar] {
  -webkit-animation: rotate2 40s linear infinite;
  animation: rotate2 40s linear infinite;
}

@-webkit-keyframes rotate1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.app,
body::after {
  will-change: opacity, filter;
  -webkit-animation: fadeIn 2s ease-out;
  animation: fadeIn 2s ease-out;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-filter: blur(10px);
    filter: blur(10px);
  }
  100% {
    opacity: 1;
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-filter: blur(10px);
    filter: blur(10px);
  }
  100% {
    opacity: 1;
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
}
[aria-label=Disconnect]:not([class*=colorable]) {
  background-color: transparent;
  background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNMTIgOWMtMS42IDAtMy4xNS4yNS00LjYuNzJ2My4xYzAgLjM5LS4yMy43NC0uNTYuOS0uOTguNDktMS44NyAxLjEyLTIuNjYgMS44NS0uMTguMTgtLjQzLjI4LS43LjI4LS4yOCAwLS41My0uMTEtLjcxLS4yOUwuMjkgMTMuMDhjLS4xOC0uMTctLjI5LS40Mi0uMjktLjcgMC0uMjguMTEtLjUzLjI5LS43MUMzLjM0IDguNzggNy40NiA3IDEyIDdzOC42NiAxLjc4IDExLjcxIDQuNjdjLjE4LjE4LjI5LjQzLjI5LjcxIDAgLjI4LS4xMS41My0uMjkuNzFsLTIuNDggMi40OGMtLjE4LjE4LS40My4yOS0uNzEuMjktLjI3IDAtLjUyLS4xMS0uNy0uMjgtLjc5LS43NC0xLjY5LTEuMzYtMi42Ny0xLjg1LS4zMy0uMTYtLjU2LS41LS41Ni0uOXYtMy4xQzE1LjE1IDkuMjUgMTMuNiA5IDEyIDl6Ii8+PC9zdmc+) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
  opacity: 0.5;
}
[aria-label=Disconnect]:not([class*=colorable]) svg {
  display: none;
}
[aria-label=Disconnect]:not([class*=colorable]):hover {
  -webkit-animation: disconnect1 0.06s infinite alternate;
  animation: disconnect1 0.06s infinite alternate;
  background-color: transparent;
  opacity: 1;
}

@-webkit-keyframes disconnect1 {
  from {
    -webkit-transform: rotate(-7deg);
    transform: rotate(-7deg);
  }
  to {
    -webkit-transform: rotate(7deg);
    transform: rotate(7deg);
  }
}
@keyframes disconnect1 {
  from {
    -webkit-transform: rotate(-7deg);
    transform: rotate(-7deg);
  }
  to {
    -webkit-transform: rotate(7deg);
    transform: rotate(7deg);
  }
}
[class*=wrapper][class*=guilds] [class*=folder],
[class*=wrapper][class*=guilds] [class*=closedFolderIconWrapper],
[class*=wrapper][class*=guilds] [class*=expandedFolderBackground] {
  background: transparent !important;
}
[class*=wrapper][class*=guilds] [class*=circleIconButton],
[class*=wrapper][class*=guilds] [class*=listItemWrapper] > a {
  background: rgba(0, 0, 0, 0.6);
  border-color: var(--markup-intensive);
  color: var(--markup-intensive);
}
[class*=wrapper][class*=guilds] [class*=circleIconButton]:hover,
[class*=wrapper][class*=guilds] [class*=listItemWrapper] > a:hover {
  background: rgba(0, 0, 0, 0.7);
}
[class*=wrapper][class*=guilds] [class*=folderIconWrapper],
[class*=wrapper][class*=guilds] [class*=expandedFolderBackground]:not([class*=collapsed]) {
  background: rgba(0, 0, 0, 0.5) !important;
  border-radius: 20px;
}

[class*=colorPickerCustom] {
  background: black !important;
  border-color: transparent;
}

svg[style*="color: "] path {
  fill: var(--markup-normal);
}

[class*=header] h3 {
  color: var(--bt-text);
}

[class*=footer] h3 {
  color: var(--bt-text);
}

[class*=footerButton] {
  background: var(--bt-red) !important;
  color: var(--bt-text) !important;
}
[class*=footerButton]:hover {
  background: var(--bt-red-hover) !important;
  color: var(--bt-text-hover) !important;
}

[class*=tabBarItem]:hover {
  border-bottom-color: var(--bt-red-hover) !important;
}

[class*=tabBarItem][class*=da-selected] {
  border-bottom-color: var(--bt-red) !important;
}

[class*=sidebar] [class*=containerDefault] [class*=icon] {
  color: rgba(255, 255, 255, 0.6) !important;
}
[class*=sidebar] [class*=containerDefault] [class*=icon] > path {
  opacity: 0.6;
}
[class*=sidebar] [class*=containerDefault] [class*=icon] > path:last-of-type {
  opacity: 0.9;
}
[class*=sidebar] [class*=containerDefault] [class*=content]:hover {
  background: transparent !important;
}
[class*=sidebar] [class*=containerDefault] [class*=modeMuted] [class*=name] {
  color: rgba(255, 255, 255, 0.5);
}
[class*=sidebar] [class*=containerDefault][class*=selected] [class*=content] {
  background: var(--default-selected) !important;
  color: #ffffff !important;
}
[class*=sidebar] [class*=containerDefault] [class*=selected]:hover [class*=content] {
  background: var(--default-selected) !important;
}

[data-list-item-id*=active-threads] [class*=name],
[data-list-item-id*=active-threads] [class*=icon] {
  color: var(--bt-text) !important;
}

[class*=userLimit] > [class*=wrapper] {
  border-radius: 5px !important;
}
[class*=userLimit] [class*=total] {
  color: var(--markup-intensive);
  background: rgba(0, 0, 0, 0.6) !important;
}
[class*=userLimit] [class*=total]::after {
  border-right-color: rgba(0, 0, 0, 0.4) !important;
}
[class*=userLimit] [class*=users] {
  color: var(--markup-normal);
  background: rgba(0, 0, 0, 0.3) !important;
}

[class*=focusLock] [class*=modal] {
  background: rgba(0, 0, 0, 0.95) !important;
}
[class*=focusLock] [class*=modal] [class*=horizontalReverse] {
  background: rgba(0, 0, 0, 0.95) !important;
}
[class*=focusLock] [class*=modal] [class*=radioBar] > div:not([class*=info]) circle {
  fill: var(--bt-red) !important;
}

header h1[class*=name] {
  font-size: 18px;
  font-weight: bold;
  line-height: 55px;
}

[class^=sidebar] [class*=selected] header {
  background: transparent;
}

[class*=labelContainer][class*=focused] {
  background: var(--bt-red) !important;
}

[class*=panels] [class*=actionButtons] button {
  background: var(--default-hover) !important;
  color: var(--bt-text) !important;
}
[class*=panels] [class*=actionButtons] button:hover {
  background: var(--default-selected) !important;
  color: var(--bt-text-hover) !important;
}

[aria-label="Create Invite"] {
  display: none !important;
}

nav[class*=container] > [class*=container] > header:hover {
  background: transparent !important;
}

[class*=layer] [class*=animator] [class*=container][class*=scrollerBase] {
  background: rgba(0, 0, 0, 0.95) !important;
}

[class*=tierHeaderLocked] {
  background: var(--profile-bckg), rgba(0, 0, 0, 0.95) !important;
}

[class*=tierBody] {
  background: var(--profile-bckg), rgba(0, 0, 0, 0.95) !important;
}

[class*=circleButton] {
  background-color: var(--default-hover) !important;
}
[class*=circleButton]:hover {
  background-color: var(--default-selected) !important;
}

[class*=content] [class*=pageWrapper] {
  background: transparent !important;
}

[class*=selectedCategoryItem] > div {
  background: var(--bt-red) !important;
}

[class*=searchPage] > [class*=search] {
  background: rgba(0, 0, 0, 0.2) !important;
}
[class*=searchPage] > [class*=search] [class*=searchBox] {
  background: transparent !important;
}

[class*=categoryPill] > div {
  color: rgba(255, 255, 255, 0.5) !important;
}
[class*=categoryPill][class*=selected] {
  background: var(--bt-red) !important;
}
[class*=categoryPill][class*=selected] > div {
  color: rgba(255, 255, 255, 0.8) !important;
}

.bd-server-splash {
  filter: none;
}

[class^=stageSection-] {
  background: transparent;
}

[class^=nowPlayingSidebar-] > [class^=container-] {
  background: transparent !important;
}

[class^=stageSection-] > [class^=container-] > [class^=container-] {
  background: rgba(0, 0, 0, 0.15);
}

[class^=stageSection-] > [class^=container-] > [class^=container-]:nth-last-child(2) {
  background: transparent !important;
}

[class^=guildInfoContainer-] > [class^=rightJustifiedContent-] > div {
  background: var(--bt-red) !important;
}

[class^=activityUserPopout-] {
  background: var(--profile-activity);
  margin-bottom: 30px;
  margin-top: 30px;
  padding-left: 16px;
  padding-right: 16px;
}
[class^=activityUserPopout-] [class*=platformIcon] {
  right: 16px !important;
}
[class^=activityUserPopout-] button {
  background: var(--bt-red) !important;
  color: var(--bt-text) !important;
}
[class^=activityUserPopout-] button:hover {
  background: var(--bt-red-hover) !important;
  color: var(--bt-text-hover) !important;
}
[class^=activityUserPopout-]::before {
  content: "";
  position: absolute;
  height: 21px;
  z-index: 1;
  width: 300px;
  top: -20px;
  left: 0;
  background: var(--profile-activity);
  mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="268" height="21" viewBox="0 0 268 21"><path d="M0 21V7.19143C0 7.19143 35.3844 -2.31216 79.4578 0.530784C126.044 1.7492 142.689 13.564 202.466 14.5019C242.561 14.5019 268 7.35388 268 7.35388V21H0Z"/></svg>');
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="268" height="21" viewBox="0 0 268 21"><path d="M0 21V7.19143C0 7.19143 35.3844 -2.31216 79.4578 0.530784C126.044 1.7492 142.689 13.564 202.466 14.5019C242.561 14.5019 268 7.35388 268 7.35388V21H0Z"/></svg>');
  animation: animate2 8s linear infinite;
  animation-delay: 0s;
  opacity: 1;
}
[class^=activityUserPopout-]::after {
  content: "";
  position: absolute;
  height: 21px;
  z-index: 1;
  width: 300px;
  bottom: -20px;
  left: 0;
  background: var(--profile-activity);
  mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="268" height="21" viewBox="0 0 268 21"><path d="M0 21V7.19143C0 7.19143 35.3844 -2.31216 79.4578 0.530784C126.044 1.7492 142.689 13.564 202.466 14.5019C242.561 14.5019 268 7.35388 268 7.35388V21H0Z"/></svg>');
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="268" height="21" viewBox="0 0 268 21"><path d="M0 21V7.19143C0 7.19143 35.3844 -2.31216 79.4578 0.530784C126.044 1.7492 142.689 13.564 202.466 14.5019C242.561 14.5019 268 7.35388 268 7.35388V21H0Z"/></svg>');
  animation: animate2 8s linear infinite;
  animation-delay: 0s;
  opacity: 1;
  transform: rotate(-180deg);
}
@keyframes animate2 {
  0% {
    -webkit-mask-position-x: 268px;
  }
  100% {
    -webkit-mask-position-x: 0;
  }
}

[class^=activityUserPopout-] > [class^=horizontal-] > button {
  background: var(--bt-red) !important;
}

[class*=profileBanner-] {
  background: rgba(0, 0, 0, 0.95) !important;
}

[class*=popoutBanner]:not([class*=BannerPremium])[style] {
  background: transparent !important;
}

[class^=userPopout] {
  background: var(--profile-bckg), rgba(0, 0, 0, 0.95) !important;
  background-size: cover;
}
[class^=userPopout] [class^=bodyInnerWrapper],
[class^=userPopout] [class^=footer],
[class^=userPopout] [class^=avatar] {
  background: transparent !important;
  border-color: transparent !important;
}
[class^=userPopout] [class^=body][style] {
  overflow: hidden !important;
  padding: 0;
  padding-right: 0 !important;
}
[class^=userPopout] [class*=divider] {
  display: none;
}
[class^=userPopout] #permissions-popout,
[class^=userPopout] h3:not([class*=nickname], [class*=ellipsis]),
[class^=userPopout] [class*=rolesList]:not([class*=member-perm]),
[class^=userPopout] [class*=textarea],
[class^=userPopout] div[class*=customStatus],
[class^=userPopout] [class*=aboutMeBody] {
  padding-left: 16px;
  padding-right: 16px;
}
[class^=userPopout] [class*=bodyTitle] {
  margin-top: 8px;
  color: var(--header-secondary);
}
[class^=userPopout] [class*=aboutMeSection] {
  margin-bottom: 40px;
}
[class^=userPopout] [class*=member-perms-title] {
  text-transform: uppercase;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
}
[class^=userPopout] textarea {
  padding-left: 32px !important;
  padding-right: 16px;
}

[aria-label="User Badges"] {
  background: transparent !important;
}

[class*=member] [class*=activityText] {
  color: rgba(255, 255, 255, 0.5) !important;
}

.bd-error-modal,
.bd-error-modal-footer {
  background: rgba(0, 0, 0, 0.9) !important;
  box-shadow: 0px 0px !important;
}

.bd-tab-bar .bd-tab-item.selected {
  background: var(--bt-red);
}

.bd-addon-error {
  background: transparent !important;
}

.bd-addon-error-icon {
  background: var(--bt-red);
}

#bd-pub-button {
  background: transparent;
}
#bd-pub-button:hover {
  background: var(--bt-red-hover);
  color: var(--bt-text-hover);
}

.bd-toast:not([class*=success]) {
  background: rgba(0, 0, 0, 0.9) !important;
}

.bd-button:not(.bd-addon-button) {
  background: var(--bt-red) !important;
  color: var(--bt-text) !important;
}
.bd-button:not(.bd-addon-button):hover {
  background: var(--bt-red-hover) !important;
  color: var(--bt-text-hover) !important;
}

.bd-addon-views > button {
  background: transparent !important;
}

.bd-addon-views > button.selected {
  background: var(--bt-blue-bg-hover) !important;
}

.bd-addon-card {
  background: rgba(0, 0, 0, 0.2) !important;
}

.bd-addon-button {
  background: transparent !important;
}

.bd-controls > .bd-addon-button:last-of-type {
  margin-left: 10px;
}

[aria-label=USER_SETTINGS] [role=radiogroup] [aria-checked=true] [style*="hsl(139"] {
  background: rgba(0, 230, 77, 0.3) !important;
  border-color: rgba(0, 230, 77, 0.3) !important;
}

[aria-label=USER_SETTINGS] [role=radiogroup] [aria-checked=true] [style*="hsl(37"] {
  background: rgba(255, 153, 0, 0.3) !important;
  border-color: rgba(255, 153, 0, 0.3) !important;
}

[aria-label=USER_SETTINGS] [role=radiogroup] [aria-checked=true] [style*="hsl(359"] {
  background: rgba(244, 40, 40, 0.3) !important;
  border-color: rgba(204, 0, 0, 0.3) !important;
}

[class^=connectedAccounts] > [class^=wrapper] {
  background: rgba(0, 0, 0, 0.3) !important;
  border: 1px solid #000000 !important;
  border-radius: 5px;
  transition: transform 200ms ease-in-out;
}
[class^=connectedAccounts] > [class^=wrapper]:hover {
  transform: scale(1.05);
  background: rgba(0, 0, 0, 0.8) !important;
}

[class^=connectionList] > [class^=connection] {
  background: rgba(0, 0, 0, 0.3) !important;
  border: 1px solid #000000 !important;
  border-radius: 10px;
}

[class*=notificationSettings] [class*=selected]:not([class*=disabled]) {
  background: var(--bt-red);
  border-color: transparent;
  box-shadow: none;
}
[class*=notificationSettings] label:not([class*=selected], [class*=disabled]):hover {
  background: var(--bt-red-hover);
}

[class*=accountProfileCard] {
  background: var(--profile-bckg), rgba(0, 0, 0, 0.95) !important;
}
[class*=accountProfileCard] [class*=fieldButton-] {
  background: var(--bt-red) !important;
  color: var(--bt-text) !important;
}
[class*=accountProfileCard] [class*=fieldButton-]:hover {
  background: var(--bt-red-hover) !important;
  color: var(--bt-text-hover) !important;
}

[class*=profileBannerPreview] {
  background: var(--profile-bckg), rgba(0, 0, 0, 0.95) !important;
}

[aria-label=USER_SETTINGS] [class^=info-] > * {
  color: rgba(255, 255, 255, 0.5);
}

[aria-label=USER_SETTINGS] [class*=sidebarRegion] [class*=item] {
  padding-left: 50px !important;
}
[aria-label=USER_SETTINGS] [class*=sidebarRegion] [class*=item][class*=selected] {
  background: var(--default-selected) !important;
  color: var(--bt-text-hover) !important;
}
[aria-label=USER_SETTINGS] [class*=sidebarRegion] [class*=item]:hover {
  background: var(--default-hover) !important;
  color: var(--bt-text) !important;
}

[aria-label=USER_SETTINGS] [class*=sidebarRegionScroller] [class*=item]::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  left: 15px;
  margin-top: -2px;
  opacity: 0.3;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

[aria-controls=my-account-tab]::after {
  background: url(https://tomec.gitlab.io/novum/icons/person.svg) !important;
}

[aria-controls=profile-customization-tab]::after {
  background: url(https://tomec.gitlab.io/novum/icons/person-box.svg) !important;
}

[aria-controls="privacy-&-safety-tab"]::after {
  background: url(https://tomec.gitlab.io/novum/icons/security.svg) !important;
}

[aria-controls=authorized-apps-tab]::after {
  background: url(https://tomec.gitlab.io/novum/icons/apps.svg) !important;
}

[aria-controls=connections-tab]::after {
  background: url(https://tomec.gitlab.io/novum/icons/link.svg) !important;
}

[aria-controls=discord-nitro-tab] {
  display: none;
}

[aria-controls=nitro-server-boost-tab]::after {
  background: url(https://discordapp.com/assets/df0e29b16d71bdad333880b2488075be.svg) !important;
}

[aria-controls=subscriptions-tab]::after {
  background-image: url(https://discordapp.com/assets/5a24b20b84fb3eafc138916729386e76.svg) !important;
}

[aria-controls=library-inventory-tab]::after {
  background-image: url(https://discordapp.com/assets/6c73f47daf179ffade99f501bfc5101b.svg) !important;
  background-size: cover;
}

[aria-controls=billing-tab]::after {
  background: url(https://tomec.gitlab.io/novum/icons/Credit_card.svg) !important;
}

[aria-controls=appearance-tab]::after {
  background: url(https://tomec.gitlab.io/novum/icons/looks.svg) !important;
}

[aria-controls=accessibility-tab]::after {
  background: url(https://tomec.gitlab.io/novum/icons/human.svg) !important;
}

[aria-controls="voice-&-video-tab"]::after {
  background: url(https://tomec.gitlab.io/novum/icons/mic.svg) !important;
}

[aria-controls="text-&-images-tab"]::after {
  background: url(https://tomec.gitlab.io/novum/icons/chat.svg) !important;
}

[aria-controls=notifications-tab]::after {
  background: url(https://tomec.gitlab.io/novum/icons/notifications.svg) !important;
}

[aria-controls=keybinds-tab]::after {
  background: url(https://tomec.gitlab.io/novum/icons/keyboard.svg) !important;
}

[aria-controls=language-tab]::after {
  background: url(https://tomec.gitlab.io/novum/icons/language.svg) !important;
}

[aria-controls=windows-tab]::after {
  background: url(https://tomec.gitlab.io/novum/icons/windows.svg) !important;
}

[aria-controls=streamer-mode-tab]::after {
  background: url(https://tomec.gitlab.io/novum/icons/videocam.svg) !important;
}

[aria-controls=advanced-tab]::after {
  background: url(https://tomec.gitlab.io/novum/icons/dots.svg) !important;
}

[aria-controls=game-activity-tab]::after {
  background: url(https://tomec.gitlab.io/novum/icons/gamepad.svg) !important;
}

[aria-controls=overlay-tab]::after {
  background: url(https://tomec.gitlab.io/novum/icons/desktop_windows.svg) !important;
}

.bd-settings-tab::after {
  background: url(https://tomec.gitlab.io/novum/icons/betterdiscord.svg) !important;
}

.bd-emotes-tab::after {
  background: url(https://tomec.gitlab.io/novum/icons/emote.svg) !important;
}

.bd-customcss-tab::after {
  background: url(https://tomec.gitlab.io/novum/icons/code.svg) !important;
}

.bd-plugins-tab::after {
  background: url(https://tomec.gitlab.io/novum/icons/puzzle.svg) !important;
}

.bd-themes-tab::after {
  background: url(https://tomec.gitlab.io/novum/icons/palette.svg) !important;
}

[aria-controls=changelog-tab]::after {
  background: url(https://tomec.gitlab.io/novum/icons/history.svg) !important;
}

[aria-controls=hypesquad-online-tab]::after {
  background-image: url(https://discordapp.com/assets/6c73f47daf179ffade99f501bfc5101b.svg) !important;
  background-size: cover;
}

[aria-controls=logout-tab]::after {
  background: url(https://tomec.gitlab.io/novum/icons/exit.svg) !important;
}

[class*=base] [class*=content] [class*=container]:not([class*=embedWrapper]) {
  background: transparent;
}
[class*=base] [class*=content] [class*=container]:not([class*=embedWrapper]) [class*=iconWrapper] svg {
  color: rgba(255, 255, 255, 0.7);
}
[class*=base] [class*=content] [class*=container]:not([class*=embedWrapper]) [class^=item][tabindex="0"] {
  background: transparent;
  font-size: 17px;
}
[class*=base] [class*=content] [class*=container]:not([class*=embedWrapper]) [class^=item]:not([tabindex="0"]):hover {
  background: transparent;
}
[class*=base] [class*=content] [class*=container]:not([class*=embedWrapper]) [class^=item][style*="color: hsl(0"] {
  background: rgba(0, 255, 128, 0.1) !important;
  color: rgba(0, 255, 128, 0.7) !important;
}
[class*=base] [class*=content] [class*=container]:not([class*=embedWrapper]) [class^=item][style*=background]:hover, [class*=base] [class*=content] [class*=container]:not([class*=embedWrapper]) [class^=item][style]:not([style*=background]) {
  background: rgba(0, 255, 128, 0.2) !important;
  color: rgba(0, 255, 128, 0.7) !important;
  font-weight: bold;
  font-size: 16px;
}
[class*=base] [class*=content] [class*=container]:not([class*=embedWrapper]) [class^=addFriendInputWrapper] {
  background: rgba(0, 0, 0, 0.4);
  border-color: rgba(0, 0, 0, 0.9);
}
[class*=base] [class*=content] [class*=container]:not([class*=embedWrapper]) [class^=addFriendInputWrapper] button {
  background: var(--bt-blue-bg);
  color: var(--bt-text);
}
[class*=base] [class*=content] [class*=container]:not([class*=embedWrapper]) [class^=addFriendInputWrapper] button:hover {
  background: var(--bt-blue-bg-hover);
  color: var(--bt-text-hover);
}

[class*=nowPlayingColumn] [class*=itemCard] {
  background: rgba(0, 0, 0, 0.5) !important;
}
[class*=nowPlayingColumn] [class*=itemCard] [class*=body] {
  background: transparent !important;
}
[class*=nowPlayingColumn] [class*=itemCard] [class*=body] [class*=separator] {
  display: none;
}

[class^=content] > [class^=channel]:hover [class^=layout] {
  background: var(--default-hover);
  color: var(--bt-text);
}

[class^=content] > [class^=channel][class*=selected] [class^=layout] {
  background: var(--default-selected);
  color: var(--bt-text-hover);
}

[class*=applicationStore] {
  background: transparent !important;
}

[class*=applicationStore] button {
  background: var(--bt-red) !important;
  color: var(--bt-text) !important;
}
[class*=applicationStore] button:hover {
  background: var(--bt-red-hover) !important;
  color: var(--bt-text-hover) !important;
}

[class^=flowerStar-] > path {
  fill: var(--markup-intensive) !important;
}

[class^=backdrop] {
  background: linear-gradient(#00000022, #000000ff) !important;
}

[role=dialog] [class^=contentWrapper] {
  background: rgba(0, 0, 0, 0.95) !important;
}

[class^=popoutContainer] {
  background: rgba(0, 0, 0, 0.95) !important;
}
[class^=popoutContainer] button {
  background: var(--bt-red);
  color: var(--bt-text);
}
[class^=popoutContainer] button:hover {
  background: var(--bt-red-hover);
  color: var(--bt-text-hover);
}

#permissions-modal {
  background: rgba(0, 0, 0, 0.9) !important;
}
#permissions-modal div {
  background: rgba(0, 0, 0, 0.9) !important;
}
#permissions-modal div div {
  background: rgba(0, 0, 0, 0.9) !important;
}

[class^=control-] [class^=container-] {
  opacity: 0.4 !important;
  background: rgba(100, 100, 100, 0.2) !important;
}

[class^=control-] [class^=container-][style*="hsl(139"] {
  opacity: 0.7 !important;
  background: var(--bt-red) !important;
}

[class^=barFill-] {
  background: var(--bt-red) !important;
}

[class^=colorPrimary-] {
  background: var(--bt-red) !important;
}

button[class*=colorBrand-]:not([class*=lookBlank]) {
  background: var(--bt-red);
  color: var(--bt-text);
}
button[class*=colorBrand-]:not([class*=lookBlank]):hover {
  background: var(--bt-red-hover);
  color: var(--bt-text-hover);
}

button[class*=lookOutlined-]:not([class*=lookBlank]) {
  color: var(--bt-text);
  border-color: transparent !important;
}

[class*=wordmark]:after {
  content: "Novum";
  font-size: 16px;
  font-family: var(--font-primary);
  font-weight: bold;
}
[class*=wordmark] svg {
  display: none;
}

[class*=homeIcon] {
  transform: rotate(-180deg);
}

[data-list-item-id=guildsnav___home]:hover > div,
[data-list-item-id=guildsnav___home][class*=selected] > div {
  background: var(--bt-red) !important;
}

input {
  transition: all 0.3s;
}

input:focus {
  border-color: var(--markup-blue) !important;
  box-shadow: 0px 0px transparent;
}

[class*=noiseCancellationPopout] {
  background: rgba(0, 0, 0, 0.95) !important;
}

[class*=keyboardShortcutsModal] {
  background: rgba(0, 0, 0, 0.95) !important;
}

[href="https://support.discord.com"] {
  display: none !important;
}

[aria-label="Notification Settings"] {
  display: none !important;
}

[class*=socialLinks]::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  margin-top: -5px;
  margin-left: 6px;
  background: url(https://gitlab.com/uploads/-/system/project/avatar/12978772/NovumThemeLogo.png?width=1) center/cover no-repeat;
  filter: contrast(0%) brightness(1.4);
}

[aria-label="Quick switcher"] {
  background: rgba(0, 0, 0, 0.95) !important;
}

[class*=nameAndDecorators] [class*=botTagRegular] {
  transform: translateY(-2px);
}

[class*=botTagRegular] {
  background: transparent !important;
  position: relative;
  width: 20px !important;
  height: 20px !important;
  margin-top: 0 !important;
  padding: 0 !important;
}
[class*=botTagRegular]:not([class*=WithNickname]) {
  top: 0px;
  right: 0px;
}
[class*=botTagRegular][class*=WithNickname] {
  position: absolute;
  transform: translateY(-4px);
}
[class*=botTagRegular] [class*=botText] {
  display: none;
}
[class*=botTagRegular]::after {
  background: url(https://tomec.gitlab.io/novum/icons/bot.svg) !important;
  background-size: cover !important;
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0px;
  right: 0px;
  opacity: 0.8;
}
[class*=botTagRegular] > svg {
  color: #fff;
  transform: translate(18px, -5px);
  z-index: 2;
}

[class*=focusLock] [class*=root] {
  background: rgba(0, 0, 0, 0.95) !important;
  box-shadow: 0px 0px !important;
}
[class*=focusLock] [class*=root] [class*=directionRow],
[class*=focusLock] [class*=root] [class*=body],
[class*=focusLock] [class*=root] [class*=topSection] {
  background: rgba(0, 0, 0, 0.95) !important;
}
[class*=focusLock] [class*=root] [class*=avatar] {
  border: none;
}
[class*=focusLock] [class*=root] [class*=message] {
  background: transparent !important;
  border: none !important;
}

[role=radiogroup] [class*=directionRow][aria-checked=true] {
  background: rgba(0, 0, 0, 0.3) !important;
}
[role=radiogroup] [class*=directionRow][aria-checked=true] [class*=radioBar] div:not([class*=info]) circle {
  fill: white;
}

[class*=card-]:not([class*=justify]) {
  background: rgba(0, 0, 0, 0.3) !important;
  border-color: #000000 !important;
}

[class*=card-][class*=justify] {
  box-shadow: 0px 0px;
}

[class*=tooltipPrimary],
[class*=tooltipGreen] {
  background: rgba(0, 0, 0, 0.95) !important;
  border: 2px solid black;
  color: rgba(255, 255, 255, 0.5);
  font-weight: bold;
}
[class*=tooltipPrimary] [class*=tooltipPointer],
[class*=tooltipGreen] [class*=tooltipPointer] {
  border-top-color: black !important;
}

[class*=mediaBarWrapper] [class*=fakeEdges] {
  background: var(--bt-red);
}
[class*=mediaBarWrapper] [class*=fakeEdges]::after, [class*=mediaBarWrapper] [class*=fakeEdges]::before {
  background: var(--bt-red);
}
[class*=mediaBarWrapper] [class*=mediaBarProgress] {
  background: var(--bt-red);
}
[class*=mediaBarWrapper] [class*=mediaBarProgress]::after, [class*=mediaBarWrapper] [class*=mediaBarProgress]::before {
  background: var(--bt-red);
}
[class*=mediaBarWrapper] [class*=mediaBarProgress] [class*=mediaBarGrabber] {
  background: var(--bt-red);
}
[class*=mediaBarWrapper] [class*=bubble] {
  background: var(--bt-red);
}

[class*=embedVideo] [class*=playPausePop] {
  display: none !important;
}

[aria-checked=true] [class*=iconContainer] svg > path:first-child {
  fill: var(--bt-red);
}

[aria-checked=true] [class*=iconContainer] svg > path:last-child {
  fill: var(--bt-text-hover) !important;
}

[class*=streamPreviewWrapper] [class*=streamPreview] {
  background: rgba(0, 0, 0, 0.95) !important;
  border: transparent;
}
[class*=streamPreviewWrapper] [class*=streamPreview] [class*=previewContainer] {
  background: transparent !important;
  border: transparent;
}

/*# sourceMappingURL=theme.css.map */
