@mixin nobg {
  background: transparent !important;
}

@mixin btred {
  background: var(--bt-red);
  color: var(--bt-text);
  &:hover {
    background: var(--bt-red-hover);
    color: var(--bt-text-hover);
  }
}

@mixin btred_important {
  background: var(--bt-red) !important;
  color: var(--bt-text) !important;
  &:hover {
    background: var(--bt-red-hover) !important;
    color: var(--bt-text-hover) !important;
  }
}