@use "../core/mixins" as m;
//Styling for in game or other member activity popout
[class^="activityUserPopout-"] {
  background: var(--profile-activity);
  margin-bottom: 30px;
  // width: 300px;
  margin-top: 30px;
  padding-left: 16px;
  padding-right: 16px;

  [class*="platformIcon"] {
    right: 16px !important;
  }

  button {
    @include m.btred_important;
  }

  &::before {
    content: "";
    position: absolute;
    height: 21px;
    z-index: 1;
    width: 300px;
    top: -20px;
    left: 0;
    background: var(--profile-activity);
    mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="268" height="21" viewBox="0 0 268 21"><path d="M0 21V7.19143C0 7.19143 35.3844 -2.31216 79.4578 0.530784C126.044 1.7492 142.689 13.564 202.466 14.5019C242.561 14.5019 268 7.35388 268 7.35388V21H0Z"/></svg>');
    -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="268" height="21" viewBox="0 0 268 21"><path d="M0 21V7.19143C0 7.19143 35.3844 -2.31216 79.4578 0.530784C126.044 1.7492 142.689 13.564 202.466 14.5019C242.561 14.5019 268 7.35388 268 7.35388V21H0Z"/></svg>');
    animation: animate2 8s linear infinite;
    animation-delay: 0s;
    opacity: 1;
  }

  &::after {
    content: "";
    position: absolute;
    height: 21px;
    z-index: 1;
    width: 300px;
    bottom: -20px;
    left: 0;
    background: var(--profile-activity);
    mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="268" height="21" viewBox="0 0 268 21"><path d="M0 21V7.19143C0 7.19143 35.3844 -2.31216 79.4578 0.530784C126.044 1.7492 142.689 13.564 202.466 14.5019C242.561 14.5019 268 7.35388 268 7.35388V21H0Z"/></svg>');
    -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="268" height="21" viewBox="0 0 268 21"><path d="M0 21V7.19143C0 7.19143 35.3844 -2.31216 79.4578 0.530784C126.044 1.7492 142.689 13.564 202.466 14.5019C242.561 14.5019 268 7.35388 268 7.35388V21H0Z"/></svg>');
    animation: animate2 8s linear infinite;
    animation-delay: 0s;
    opacity: 1;
    transform: rotate(-180deg);
  }

  @keyframes animate2 {
    0% {
      -webkit-mask-position-x: 268px;
    }

    100% {
      -webkit-mask-position-x: 0;
    }
  }
}

[class^="activityUserPopout-"] > [class^="horizontal-"] > button {
  background: var(--bt-red) !important;
}

[class*="profileBanner-"] {
  background: rgba(0, 0, 0, 0.95) !important;
}

[class*="popoutBanner"]:not([class*="BannerPremium"])[style] {
  background: transparent !important;
}

[class^="userPopout"] {
  background: var(--profile-bckg), rgba(0, 0, 0, 0.95) !important;
  background-size: cover;

  [class^="bodyInnerWrapper"],
  [class^="footer"],
  [class^="avatar"] {
    background: transparent !important;
    border-color: transparent !important;
  }

  [class^="body"][style] {
    overflow: hidden !important;
    padding: 0;
    padding-right: 0 !important;
  }

  [class*="divider"] {
    display: none;
  }

  #permissions-popout,
  h3:not([class*="nickname"], [class*="ellipsis"]),
  [class*="rolesList"]:not([class*="member-perm"]),
  [class*="textarea"],
  div[class*="customStatus"],
  [class*="aboutMeBody"] {
    padding-left: 16px;
    padding-right: 16px;
  }

  [class*="bodyTitle"] {
    margin-top: 8px;
    color: var(--header-secondary);
  }

  [class*="aboutMeSection"] {
    margin-bottom: 40px;
  }

  [class*="member-perms-title"] {
    text-transform: uppercase;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
  }

  textarea {
    padding-left: 32px !important;
    padding-right: 16px;
  }
}

[aria-label="User Badges"] {
  background: transparent !important;
}
